@*@model IEnumerable<Book>*@
@*// create new model with book list and simple list*@

@model BookView

@{
    ViewData["Title"] = "Book list";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book list</h2>
        </div>

        @if (User.Identity != null && User.Identity.IsAuthenticated && ViewBag.role == RoleModel.Admin)
        {
         <div class="col-6 text-end">
                <a asp-controller="Book" asp-action="Add" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i>&nbsp;&nbsp;Add new book 
                </a>
            </div>
        }   
    </div>
    <div>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-funnel"></i>&nbsp;&nbsp;Filter
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                @using (Html.BeginForm("FilterBooks", "Book", FormMethod.Post))
                {
                    <table class="table-borderless table-sm" style="width:100%">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <div class="mb-3">
                                        <label asp-for="Filter.BookTitle">Book Title</label>
                                        <input asp-for="Filter.BookTitle" class=" form-control" />
                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="mb-3">
                                        <label asp-for="Filter.Author" >Author</label>
                                        <input asp-for="Filter.Author" class=" form-control" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <div class="mb-3">
                                        <label asp-for="Filter.Genre">Genre</label>
                                        <input asp-for="Filter.Genre" class="form-control" />
                                    </div>
                                </td>
                                <td width="50%">
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <div class="mb-3">
                                        <label asp-for="Filter.Publisher">Publisher</label>
                                        <input asp-for="Filter.Publisher" class="form-control" />
                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="mb-3">
                                        <label asp-for="Filter.PublishingDate">Published date</label>
                                        <input asp-for="Filter.PublishingDate" class="form-control" />
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="mb-4">
                                        <label asp-for="Filter.ISBNcode">ISBN code</label>
                                        <input asp-for="Filter.ISBNcode" class="form-control" />
                                    </div>
                                </td>
                                <td>

                                <div class="mb-4">
                                    <label>Book status</label>
                                    <select asp-for="Filter.Status" class="form-select form-select-md mb-4" aria-label="Default select "
                                        asp-items="Html.GetEnumSelectList<BookStatus>()">
                                    </select>
                                </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary" style="width:150px">Apply</button>
                    <a asp-controller="Book" asp-action="Index" class="btn btn-secondary" style="width:150px">Clear</a>
                }
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    Book
                </th>
                <th>
                    Publisher
                </th>
                <th class="col text-center">
                    Status
                </th>
               @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <th>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td width="40%">
                        <div>
                            <h4>"@book.BookTitle"</h4>
                            By: @book.Author
                        </div>
                        <div>
                            Genre: @book.Genre
                        </div>
                        ISBN @book.ISBNcode
                    </td>
                    <td width="30%" class="col text-begin align-middle">
                        <div>
                            @book.Publisher
                        </div>
                        <div>
                            @book.PublishingDate.ToShortDateString()
                        </div>
                    </td>
                    <td class="col text-center align-middle">
                        @if (book.Status == BookStatus.Available){
                            <span class="badge alert-success">@book.Status</span>
                        }
                        else if (book.Status == BookStatus.Reserved)
                        {
                            <span class="badge alert-warning">@book.Status</span>
                        }
                        else
                        {   
                            <span class="badge alert-danger">@book.Status</span>
                        }
                    </td>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && ViewBag.role == RoleModel.Admin)
                    {
                        <td class="col text-center align-middle">
                            <div class="col justify-content-cente ">
                                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id"
                            class="btn btn-primary mx-auto w-fill"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit</a>

                                <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id"
                            class="btn btn-danger mx-auto w-fill"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                            </div>
                            @if (book.Status != BookStatus.Available)
                            {
                                <div class="col justify-content-cente ">
                                    <a asp-controller="Book" asp-action="ReturnBook" asp-route-id="@book.Id"
                                    class="btn btn-primary mx-auto w-fill">Return</a>
                                </div>
                            }
                        </td>
                    }
                    else if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                       
                        <td class="col text-center align-middle">
                            @if (book.Status == BookStatus.Available)
                            {
                                <div class="col justify-content-cente ">
                                    <a asp-controller="Book" asp-action="ReserveBook" asp-route-id="@book.Id"
                                    class="btn btn-primary mx-auto w-fill">Reserve</a>
                                </div>
                            }
                            else if (book.Status == BookStatus.Reserved)
                            {
                                <div class="col justify-content-cente">
                                    <a asp-controller="Book" asp-action="BorrowBook" asp-route-id="@book.Id"
                                    class="btn btn-primary mx-auto w-fill">Borrow</a>
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>